:443, render.openaishop.top {
    encode gzip
    tls {
        ca https://acme-v02.api.letsencrypt.org/directory
        email leijmin@gmail.com
    }
    route {
        forward_proxy {
            basic_auth leijmin 774256119a
            hide_ip
            hide_via
            probe_resistance
        }
        respond "Caddy Forward Proxy is running." 200
    }
}